{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="about_box">
    <h3>Contact Us</h3>
    <span>Car Tub Car Wash in Chelavoor, Kozhikode</span>
    <p>Car Tub Car Wash in Kozhikode is one of the leading businesses in the Leather Car Seat Cover Dealers. Also known for Leather Car Seat Cover Dealers, Car Cleaning Services, Car Foam Washing Services, Car Polishing Services, Car Accessory Dealers, Car Seat Cover Dealers, Car Washing Services and much more. Find Address, Contact Number, Reviews & Ratings, Photos, Maps of Car Tub Car Wash, Kozhikode.</p>
</div>
<div class="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>Contact us</h2>
                    </div>
                    <form class="main_form">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                <input class="form-control" placeholder="Your name" type="text" name="Your Name">
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                <input class="form-control" placeholder="Email" type="text" name="Email">
                            </div>
                            <div class=" col-md-12">
                                <input class="form-control" placeholder="Phone" type="text" name="Phone">
                            </div>
                            <div class="col-md-12">
                                <textarea class="textarea" placeholder="Message"></textarea>
                            </div>
                            <div class=" col-md-12">
                                <button class="send">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</div>
    <!-- end contact -->
{% endblock %}